@model Zakaznik

@{
    ViewData["Title"] = "Smazat";
}

<h2>Smazat</h2>

<h3>Jste si jisti, že chcete smazat tento záznam?</h3>
<div>
    <h4>Zákazník</h4>
    <hr />
    <div class="container-fluid">
        <div class="col col-md-6">
            <div class="row justify-content-start">
                <label class="col-2 fw-bold">@Html.DisplayNameFor(model => model.Nazev)</label>
                <div class="col-4">@Html.DisplayFor(model => model.Nazev)</div>
            </div>
            <div class="row justify-content-start">
                <label class="col-2 fw-bold">@Html.DisplayNameFor(model => model.IC)</label>
                <div class="col-4">@Html.DisplayFor(model => model.IC)</div>
            </div>
            <div class="row justify-content-start">
                <label class="col-2 fw-bold">@Html.DisplayNameFor(model => model.Tel)</label>
                <div class="col-4">@Html.DisplayFor(model => model.Tel)</div>
            </div>
            <div class="row justify-content-start">
                <label class="col-2 fw-bold">@Html.DisplayNameFor(model => model.Email)</label>
                <div class="col-4">@Html.DisplayFor(model => model.Email)</div>
            </div>
            <div class="row justify-content-start">
                <label class="col-2 fw-bold">@Html.DisplayNameFor(model => model.Poznamka)</label>
                <div class="col-4">@Html.DisplayFor(model => model.Poznamka)</div>
            </div>
        </div>
    </div>
    <br>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Smazat" class="btn btn-danger" /> |
        <a class="btn btn-info" asp-action="Index">Zpět na přehled</a>
    </form>
</div>
