@model Stroj

@{
    ViewData["Title"] = "Delete";
}

<h2>Smazat</h2>

<h3>Jste si jisti, že chcete smazat tento záznam?</h3>
<div>
    <h4>Stroje</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InvNr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InvNr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Popis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Popis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TeamId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Team.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartmentId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsHidden)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsHidden)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MistrId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StrojMistr.Name)
        </dd>
    </dl>
        <span asp-validation-for="Name" class="text-danger"></span>
    <br><br>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Smazat" class="btn btn-danger" /> |
        <a class="btn btn-info" asp-action="Index">Zpět na přehled</a>
    </form>
</div>
