@model IEnumerable<Stroj>

@{
    ViewData["Title"] = "Index";
}

<h2>Stroje</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Vytvořit nový stroj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Popis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsHidden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MistrId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrojColor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InvNr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Popis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Team.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsHidden)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StrojMistr.LastName) @Html.DisplayFor(modelItem => item.StrojMistr.Name)
                </td>
                
                <td style="background-color: @Html.DisplayFor(modelItem => item.StrojColor);">
                    @Html.DisplayFor(modelItem => item.StrojColor)
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Upravit</a> |
                    <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id">Detail</a> |
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Smazat</a>
                </td>
            </tr>
        }
    </tbody>
</table>
