@model StrojCalendarOverviewViewModel

<div>
    <form asp-controller="StrojCalendar" asp-action="OverviewSetFilter" id="filter-from" method="post">
        <div class="flex-container">

@*             <div class="dropdown filterButton">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLinkRole"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Filtr rolí
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLinkRole">
                    @for (var i = 0; i < Model.RoleFilter.Count; i++)
                    {
                        <li class="user-filteritem">
                            <input class="form-check-input" type="checkbox" asp-for="@Model.RoleFilter[i].Selected"
                                onchange="SubmitFilter()" />
                            <label class="form-check-label"
                            asp-for="@Model.RoleFilter[i].Selected">@Model.RoleFilter[i].Name</label>
                            <input class="form-check-input" type="hidden" asp-for="@Model.RoleFilter[i].Id" />
                            <input class="form-check-input" type="hidden" asp-for="@Model.RoleFilter[i].Name" />
                        </li>
                    }
                </ul>
            </div> *@

            <div class="dropdown filterButton">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLinkStrojnik"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Filtr strojníků
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLinkStrojnik">
                    @for (var i = 0; i < Model.StrojnikFilter.Count; i++)
                    {
                        <li class="user-filteritem">
                            <input class="form-check-input" type="checkbox" asp-for="@Model.StrojnikFilter[i].Selected" onchange="SubmitFilter()" />
                            <label class="form-check-label" asp-for="@Model.StrojnikFilter[i].Selected">@Model.StrojnikFilter[i].Name</label>
                            <input class="form-check-input" type="hidden" asp-for="@Model.StrojnikFilter[i].Id" />
                            <input class="form-check-input" type="hidden" asp-for="@Model.StrojnikFilter[i].Name" />
                        </li>
                    }
                </ul>
            </div>

            <div class="dropdown filterButton">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLinkOddeleni"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Filtr oddělení
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLinkOddeleni">
                    @for (var i = 0; i < Model.DepartmentFilter.Count; i++)
                    {
                        <li class="user-filteritem">
                            <input type="checkbox" asp-for="@Model.DepartmentFilter[i].Selected"
                                onchange="SubmitFilter()" />
                            <label asp-for="@Model.DepartmentFilter[i].Selected">@Model.DepartmentFilter[i].Name</label>
                            <input type="hidden" asp-for="@Model.DepartmentFilter[i].Id" />
                            <input type="hidden" asp-for="@Model.DepartmentFilter[i].Name" />
                        </li>
                    }
                </ul>
            </div>

            <div class="dropdown filterButton">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLinkStroj"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Filtr skupin strojů
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLinkOddeleni">
                    @for (var i = 0; i < Model.TeamFilter.Count; i++)
                    {
                        <li class="user-filteritem">
                            <input type="checkbox" asp-for="@Model.TeamFilter[i].Selected" onchange="SubmitFilter()" />
                            <label asp-for="@Model.TeamFilter[i].Selected">@Model.TeamFilter[i].Name</label>
                            <input type="hidden" asp-for="@Model.TeamFilter[i].Id" />
                            <input type="hidden" asp-for="@Model.TeamFilter[i].Name" />
                        </li>
                    }
                </ul>
            </div>
            <input type="hidden" asp-for="@Model.Year" />
            <input type="hidden" asp-for="@Model.WeekNumber" />
            <input type="hidden" asp-for="@Model.SortOrder" />
            <input type="hidden" asp-for="@Model.PostBackActionName" />
        </div>
        @* <button type="submit" name="action">Submit</button> *@
    </form>
    <div hidden="hidden">@Model.RoleFilterString</div>
    <div hidden="hidden">@Model.DepartmentFilterString</div>
    <div hidden="hidden">@Model.TeamFilterString</div>
</div>
