@inject RolesService RolesService
@model StrojCalendarOverviewViewModel

@{
    ViewData["Title"] = "Manager Overview";
}

@functions{
    public bool IsNewWeekColumn(int columnNumber)
    {
        return ((columnNumber + 1) % 5 == 0);
    }
}

<h3>Kalendář strojů</h3>

@await Html.PartialAsync("_UserFilterPartial_Stroj", Model)

@await Html.PartialAsync("_WeekPaginationPartial_Stroj", Model, ViewData)

@* @if(User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Writer"))
{

}
else {var role = "cteni";} *@

<table class="table calendar-overview-table">
    <thead>
        <tr>
            
            <th>Týden</th>
            <th></th>
            <th></th>
            <th></th>
            @for (int i = 0; i <= Model.CalendarDaysList.Count; i++)
            {
                if (IsNewWeekColumn(i))
                {
                    <th colspan="5" style="text-align: center">@Model.CalendarDaysList[i].WeekNumber</th>
                }
            }
        </tr>
        <tr>
            <th>
                <a class="text-primary text-decoration-none" asp-action="StrojManagerOverview" asp-route-sortOrder="@ViewData["NameSortParm"]"
                   asp-route-year="@Model.Year" asp-route-weeknumber="@Model.WeekNumber">Stroj</a>
            </th>
           @*  <th>
                <a asp-action="ManagerOverview" asp-route-sortOrder="@ViewData["RoleSortParam"]"
                   asp-route-year="@Model.Year" asp-route-weeknumber="@Model.WeekNumber"><b>Role</b></a>
            </th> *@
            <th>
                <a class="text-primary text-decoration-none" asp-action="StrojManagerOverview" asp-route-sortOrder="@ViewData["DepartmentSortParam"]"
                   asp-route-year="@Model.Year" asp-route-weeknumber="@Model.WeekNumber">Oddělení</a>
            </th>
            <th>
                <a class="text-primary text-decoration-none" asp-action="StrojManagerOverview" asp-route-sortOrder="@ViewData["TeamSortParam"]"
                   asp-route-year="@Model.Year" asp-route-weeknumber="@Model.WeekNumber">Skupina strojů</a>
            </th>
            @foreach (var day in Model.CalendarDaysList)
            {
                if (day.IsToday)
                {
                    <th style="text-align: center; color: rgb(0, 0, 255); font-weight: bold;">@day.Date.ToString("dd")</th>
                }
                else
                {
                    <th style="text-align: center">@day.Date.ToString("dd")</th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @{ var count = 0; }
        @foreach (var user in Model.AllUsersCalendarData.Keys)
        {
            //background-color: #f1f1f1;
            //var cls1 = (count % 2 != 0) ? "table-row-gray " : "";
            //var cls1 = (count % 2 != 0) ? "grey " : "";
            var sedyRadek = (count % 2 != 0) ? "tabulka-radek-sedy" : "";
            var barvaStroje = sedyRadek;
            @if(user.StrojColor == "#ffffff"){barvaStroje = "#f1f1f1";}
            else {barvaStroje = user.StrojColor;}
            
            <tr>
                @* <td id="@sedyRadek"> *@
                <td id="@barvaStroje" style="background-color: @barvaStroje">
                    <b>@user.Name</b><br>
                    @if(user.StrojMistr == null)
                    {<p>nepřiřazen</p>}
                    else {@user.StrojMistr.Name @user.StrojMistr.LastName}
                </td>

                @* <td class="@cls1">
                    @{ var userRoles = await RolesService.GetRolesShorteningsAsync(user.Id); }
                    <b>@string.Join(",", userRoles)</b>
                </td> *@

                <td title="@user.Department?.Name" id="@sedyRadek">
                    <b>@user.Department?.Shortening</b>
                </td>
                <td title="@user.Team?.Name" id="@sedyRadek">
                    <b>@user.Team?.Shortening</b>
                </td>
                @foreach (var calday in Model.AllUsersCalendarData[user])
                {
                    var prazdnyDen = "";
                    var cls2 = "calendar-box ";
                    var action = "";
                    var barva = "white";
                    var smerPrace = "dopředu";
                    var nazevZakazky = "nazev zakazky";
                    var strojnik = "strojnik";
                    //var barva = (Model.AbsenceTypesBarva == calday.AbsenceType);
                    //var barva = calday.AbsenceType == AbsenceType.Equals()
                    //calday.AbsenceType;
                    if (calday.IsToday)
                    {
                        cls2 += "today ";
                    }
                    
                    if (calday.IsWeekend)
                    {
                        prazdnyDen = "weekend";
                    }
                    else prazdnyDen = sedyRadek;
                    
                    if (calday.IsHoliday)
                    {
                        cls2 += "holiday ";
                    }
                     @* if (Model.AbsenceTypes != null)
                    {
                        for (int i = 0; i < Model.AbsenceTypes.Count; i++)
                        {
                            cls2 += (Model.AbsenceTypes[i] == calday.AbsenceType) ? $"absence-color-{i} " : "";
                            cls2 += (Model.AbsenceTypes[i] == calday.AbsenceType) ? $"absence-color-{i} " : "";
                        }
                    }  *@
                    if (Model.AbsenceTypes != null)
                    {
                      barva = calday.AbsenceColor;
                      smerPrace = calday.AbsenceSmer;
                      nazevZakazky = calday.AbsenceType;
                      strojnik = calday.AbsenceStrojnik;
                      //nazevZakazky = "";
                    } 
                    if (calday.IsPlannedVacation)
                    {
                        cls2 += "planned-vacation ";
                    }
                    if (calday.IsStartOfWeek)
                    {
                        cls2 += "start-week ";
                    }
                    action = (calday.StrojBookingId == 0) ? "" : "Edit";
                    //cls2 += cls1;
                    
                    //cls2 += barva;

@*                     if (calday.IsHoliday)
                    {
                        <td class="@cls2" style="background-color: @barva;">
                            <a class="btn btn-block btn-sm" asp-controller="WorkFreeDays" asp-action="DetailsByDate" asp-route-date="@calday.Date">
                                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                            </a>
                        </td>
                    } *@
                    if (action == "Edit")
                    {
                        <td id="calendar-box-vma" class="@cls2" style="background-color: @barva;">
                            @if(User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Writer")){
@*                             <div class="hover-text"> *@
                                <a id="calendar-box-button-vma" title="" class="btn btn-block hover-text" 
                                asp-controller="StrojBookings" asp-action="Edit" 
                                asp-route-id="@calday.StrojBookingId">
                                    @* @if (calday.Approval == ApprovalState.Approved.ToString())
                                    {<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>}
                                    else if (calday.Approval == ApprovalState.Denied.ToString())
                                    {<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>}
                                    else if (calday.Approval == ApprovalState.Pending.ToString())
                                    {<span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>} *@
                                    @smerPrace
                                     <span class="tooltip-text" id="delay">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-4">
                                                    zakázka: 
                                                </div>
                                                <div class="col-8">
                                                    @nazevZakazky
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4">
                                                    strojník: 
                                                </div>
                                                <div class="col-8">
                                                    @strojnik
                                                </div>
                                            </div>
                                        </div>   
                                    </span>
                                </a>
                            @* </div>  *@
                            }
                            else {
                                @* <div class="hover-text"> *@
                                    <a id="calendar-box-button-vma" title="@nazevZakazky" class="btn btn-block"
                                    asp-controller="StrojBookings" asp-action="Details" 
                                    asp-route-id="@calday.StrojBookingId">
                                        @smerPrace
@*                                         <span class="tooltip-text" id="delay">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-4">
                                                        zakázka: 
                                                    </div>
                                                    <div class="col-8">
                                                        @nazevZakazky
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">
                                                        strojník: 
                                                    </div>
                                                    <div class="col-8">
                                                        @strojnik
                                                    </div>
                                                </div>
                                            </div>   
                                        </span> *@
                                    </a>
                                @* </div> *@ 
                            }
                        </td>
                    }
                    else if (action == "")
                    {
                        <td id="@prazdnyDen" class="@cls2">
                            @if(User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Writer")){
                            <a class="btn btn-block btn-sm" asp-controller="StrojBookings" asp-action="Create" 
                            asp-route-date="@calday.Date" asp-route-id="@user.Id">-</a>}
                            else {<a class="btn btn-block btn-sm">-</a>}
                        </td>
                    }
                }
            </tr>
            count++;
        }
    </tbody>
</table>


@* @await Html.PartialAsync("_BookingExplainationPartial") *@

@section Scripts {
    <script src="~/js/UserRoleFilter.js"></script>
    <script src="~/js/CalendarOverviewMargin.js"></script>
}