@model Zakazka

@{
    ViewData["Title"] = "Details";
}

<h2>Detail</h2>

<div>
    <h4>Zakázky</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CisloZakazky)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CisloZakazky)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Zakaznik.Nazev)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Zakaznik.Nazev)
        </dd>
@*         <dt>
            @Html.DisplayNameFor(model => model.SmerPrace)
        </dt> *@
@*         <dd>
            @Html.DisplayFor(model => model.SmerPrace)
        </dd> *@
        <dt>
            @Html.DisplayNameFor(model => model.Poznamka)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Poznamka)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd style="background-color: @Html.DisplayFor(model => model.Color);">
            @Html.DisplayFor(model => model.Color)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Upravit</a> |
    <a class="btn btn-info" asp-action="Index">Zpět na přehled</a>
</div>
